body{
font-family: Arial;
margin:0;
text-align:center;
}

/* background image for home and about */

.home{
background-image:url("images/showroom.jpg");
background-size:cover;
background-position:center;
color:white;
}

/* navigation */

nav{
margin:20px;
}

nav a{
margin:10px;
text-decoration:none;
color:blue;
font-weight:bold;
}

/* explore models button */

.modelbtn{
background-color:red;
color:white;
padding:12px 25px;
border:none;
font-size:16px;
cursor:pointer;
}

/* car models */

.models{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
margin-top:40px;
}

.car{
border:1px solid lightgray;
padding:15px;
}

/* gallery */

.gallery img{
margin:15px;
}

/* footer */

footer{
margin-top:40px;
padding:10px;
background:#eee;
}
